
body{
    font-family: YuGothic, "游ゴシック", "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
    background-color: #99CCCC
}
#logo {
  padding: 20px 0;
  text-align: center;
}
header {
    background-image: url("haikei.jpg");
    background-position:center center;
    background-size: cover;
    background-repeat: no-repeat;
}

#title{
    text-align: center;
}
section{
    max-width: 800px;
 
 margin:  200px auto 0;
  background-color: #fff;
}
section h3 {
  padding: 10px 0 20px 10px;
  text-align: center;
  letter-spacing: 0.15em;
}
footer {
  padding: 20px 0;
  font-size: 93%;
  text-align: center;
  background-color: #99CCCC;
  
}